 <h2>Registro</h2>
  <form action="/auth/register" method="post">
    <label for="usuario">Usuario:</label><br>
    <input type="text" id="usuario" name="usuario"><br><br>

    <label for="email">email:</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label for="contrasena">Contrase침a:</label><br>
    <input type="password" id="contrasena" name="contrasena"><br><br>

    <label for="contrasena">Repita la contrace침a:</label><br>
    <input type="password" id="claveRepetida" name="claveRepetida"><br><br>

    <input type="submit" value="Registrarse">
  </form>


  <h2>Login</h2>
  <form action="/iniciar_sesion" method="post">
    <label for="usuario">Usuario:</label><br>
    <input type="text" id="usuario" name="usuario"><br>
    <label for="contrasena">Contrase침a:</label><br>
    <input type="password" id="contrasena" name="contrasena"><br><br>
    <input type="submit" value="Iniciar Sesi칩n">
  </form>